# Babel extraction configuration for QUILL.
# Run: pybabel extract -F babel.cfg -k _ -k ngettext -k lazy_gettext \
#          --project QUILL --copyright-holder "BITS" \
#          -o quill/locale/quill.pot quill/

[python: quill/**.py]
encoding = utf-8
